body{
    margin: 0;
    height: 100%;
}

.menu{
    text-align: center;
    padding: 0%;
}
.menu-item{
    display: block;
    display: inline;    
    text-decoration: none;
    color: #ff0000;    
    margin-left: 70px;
}
.imago{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
}
.title{
    text-align: center;
    color: #373737;
    text-transform: uppercase;
}

.content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1145px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}

.button{
    display: block;
    width: 190px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    background-color: #FF0000;
    font-size: 12px;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.copyright{
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    width: 1070px;
    text-align: right;
}